/**{
    padding: 0;
    margin: 0;
}*/

body{
    background-color: aqua;
}

#navbar {
    background-color: black;
    position:fixed;
    top: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.navclass a{
    text-decoration: none;
}
#navbar a{
    text-decoration: ;
    color: white;
}
section {
    margin-right: 2%;
    
}
.section1 {
    margin-top: 7%;
    margin-left: 6%;
}
.section1 img{
    width: 33.33%;
}
.section1head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-1-images {
    display: flex;
    flex-direction: row;
}
.section2 {
    margin-top: 8%;
    margin-left: 6%;
}

.section3 {
    margin-top: 8%;
    margin-left: 6%;
}

.section4 {
    margin-top: 8%;
    margin-left: 6%;
}
section h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    
}
